{% extends 'blog/base.html' %}

{% block title %}Home - Django Blog{% endblock %}

{% block content %}
<div class="container">
    <h2>Latest Blog Posts</h2>
    
    {% if posts %}
        <div class="posts-list">
            {% for post in posts %}
            <article class="post">
                <h3>{{ post.title }}</h3>
                <p class="post-meta">
                    By {{ post.author.username }} | {{ post.published_date|date:"F d, Y" }}
                </p>
                <p class="post-content">{{ post.content|truncatewords:50 }}</p>
            </article>
            {% endfor %}
        </div>
    {% else %}
        <p>No posts available yet. Create your first post in the admin panel!</p>
    {% endif %}
</div>
{% endblock %}
